parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Assertion/Asserter.php

		-
			message: '#^Method Awurth\\Validator\\Assertion\\Asserter\:\:extractMessagesFromException\(\) should return array\<string, string\> but returns array\<string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Assertion/Asserter.php

		-
			message: '#^Call to an undefined method Awurth\\Validator\\Failure\\ValidationFailureCollectionInterface\:\:filter\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Call to an undefined method Awurth\\Validator\\Failure\\ValidationFailureCollectionInterface\:\:find\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Cannot call method get\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Cannot call method getData\(\) on Awurth\\Validator\\Assertion\\DataCollectorAsserterInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Cannot call method getMessage\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Cannot call method has\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Method Awurth\\Validator\\Twig\\LegacyValidatorExtension\:\:getError\(\) has parameter \$index with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Method Awurth\\Validator\\Twig\\LegacyValidatorExtension\:\:getError\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(Awurth\\Validator\\Failure\\ValidationFailureInterface\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Parameter \#1 \$iterator of function iterator_to_array expects Traversable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Twig/LegacyValidatorExtension.php

		-
			message: '#^Call to an undefined method Awurth\\Validator\\Failure\\ValidationFailureCollectionInterface\:\:filter\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Twig/ValidatorExtension.php

		-
			message: '#^Call to an undefined method Awurth\\Validator\\Failure\\ValidationFailureCollectionInterface\:\:find\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Twig/ValidatorExtension.php

		-
			message: '#^Cannot call method getData\(\) on Awurth\\Validator\\Assertion\\DataCollectorAsserterInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Twig/ValidatorExtension.php

		-
			message: '#^Method Awurth\\Validator\\Twig\\ValidatorExtension\:\:findErrors\(\) should return Awurth\\Validator\\Failure\\ValidationFailureCollectionInterface but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Twig/ValidatorExtension.php

		-
			message: '#^Method Awurth\\Validator\\Twig\\ValidatorExtension\:\:findFirst\(\) should return Awurth\\Validator\\Failure\\ValidationFailureInterface\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Twig/ValidatorExtension.php

		-
			message: '#^Parameter \#1 \$rules of class Awurth\\Validator\\Validation constructor expects Respect\\Validation\\Validatable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ValidationFactory.php

		-
			message: '#^Parameter \#4 \$message of class Awurth\\Validator\\Validation constructor expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ValidationFactory.php

		-
			message: '#^Parameter \#5 \$messages of class Awurth\\Validator\\Validation constructor expects array\<string, string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ValidationFactory.php

		-
			message: '#^Parameter \#6 \$globalMessages of class Awurth\\Validator\\Validation constructor expects array\<string, string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ValidationFactory.php
